.our-services img {
    width: 60%;
    height: 75%;
    margin-top: 10rem;
    box-shadow: rgba(0,0,0,0.25) 0px 0.8rem 0.8rem;
    border-radius: 1.5rem;
}

.our-services .main-heading {
    padding-top: 5rem;
    font-weight: bold;
}
.our-services-info {
    margin-top: 0.5rem;
}
.our-services .our-services-number {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--bgcolor);
    border: 0.2rem solid var(--primary-color);
    font-size: 1.5rem;
    display: grid;
    place-items: center;
}

.our-services-data {
    padding-left: 2rem;
}

.our-services .our-services-data {
    margin: 1rem 0;
}