.service-main-container{
    margin-top: 5rem;
    padding: 5rem 0;

}

.service-main-container .main-heading{
    margin: 3rem 0;

}
.service-container-subdiv{
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.16);
}
.service-main-container .service-container-subdiv .fontawesome-style{
    text-align: left;
    margin: 2rem 0;
}

.service-container-subdiv:hover{
    background-color: var(--bgcolor);
    cursor: pointer;
}

.service-container-subdiv:hover > .fontawesome-style{
    background-color: #fff;
}

.service-container-subdiv .main-hero-para{
    width: 100%;
}

@media (min-width: 1400px) {
    .service-container .col-xxl-4 {
        flex: 0 0 auto;
        width: 30% !important;
        margin: auto;
    }
}
@media (min-width: 992px) {
    .service-container .col-xxl-4 {
        flex: 0 0 auto;
        width: 30% !important;
        margin: 2.5rem auto;
    }
}
